
.ipynb_checkpoints/TFG-checkpoint.ipynb
.ipynb_checkpoints/TFG-checkpoint.ipynb
.ipynb_checkpoints/Modelos_de_machine_learning-checkpoint.ipynb
.ipynb_checkpoints/Modelos_de_ML_con_tendencia_temporal-checkpoint.ipynb
.ipynb_checkpoints/TFG-checkpoint.ipynb
.ipynb_checkpoints/TFG-checkpoint.ipynb
.ipynb_checkpoints/Modelos_de_ML_con_tendencia_temporal_xtrain_y_train-checkpoint.ipynb
.~lock.Base datos COVID-Linfos Actualizazda.xlsx#
